<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707676750171-354rd2pn7rta4amthla5hk62cratf601.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707676750171-354rd2pn7rta4amthla5hk62cratf601</string>
	<key>API_KEY</key>
	<string>AIzaSyC3oGGucWXbwSPVetra158_JsiUAx3XlZM</string>
	<key>GCM_SENDER_ID</key>
	<string>707676750171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patriotsParking</string>
	<key>PROJECT_ID</key>
	<string>patriots-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>patriots-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707676750171:ios:cfceb11eac828315a69a7e</string>
</dict>
</plist>